html, body {
  margin: 0px;
  padding: 0px;
}

.short {
  height: 300px;
  background: linear-gradient(yellow, hotpink);
}

.tall {
	height: 5000px;
  background: linear-gradient(cornflowerblue, hotpink);
}

#sticky {
  position: sticky;
  top: 10px;
  left: 10px;
}